<form action="/street-to-weather/results">
  <div>
    <label for="address">Street Address</label>
    <input type="text" id="address" name="address">
  </div>
  <button>Tell me the weather!</button>
</form>
