<form action="/coords-to-weather/results">
  <div>
    <label for="lat">Latitude</label>
    <input type="text" id="lat" name="user_latitude">
  </div>
  <div>
    <label for="lng">Longitude</label>
    <input type="text" id="lng" name="user_longitude">
  </div>
  <button>Lookup Weather!</button>
</form>
