<form action="/street-to-coords/results">
  <div>
    <label for="street">Street Address</label>
    <input type="text" id="street" name="street">
  </div>
  <button>Lookup Coordinates!</button>
</form>
